<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="../static/table_style.css">
	</head>
	<header>
	</header>
	<body onload="loaded()">
		<div id="navbar">
			<p class="active">Total Entries: {{ data["count"] }}</p>
			{% if data["page"] > 1%}
				<a class="common_nav" href="?p=1&epp={{data["epp"]}}"><<</a>
				<a class="common_nav" href="?p={{data["page"]-1}}&epp={{data["epp"]}}"><</a>
			{% else %}
				<p class="disabled_nav"><<</p>
				<p class="disabled_nav"><</p>
			{% endif %}
			<p class="common_nav">Page {{ data["page"] }} / {{ data["page_max"] }}</p>
			{% if data["page"] < data["page_max"] %}
				<a class="common_nav" href="?p={{data["page"]+1}}&epp={{data["epp"]}}">></a>
				<a class="common_nav" href="?p={{data["page_max"]}}&epp={{data["epp"]}}">>></a>
			{% else %}
				<p class="disabled_nav">></p>
				<p class="disabled_nav">>></p>
			{% endif %}
			<div class="nav_dropdown">
				<button class="dropbtn">{{ data["epp"] }} Entries per Page</button>
				<div class="drop-content">
					<a href="?p={{ data["page"] }}&epp=10">10 Entries</a>
					<a href="?p={{ data["page"] }}&epp=20">20 Entries</a>
					<a href="?p={{ data["page"] }}&epp=50">50 Entries</a>
				</div>
			</div>
			{% if '/old' in request.url_rule.rule %}
				<a class="common_nav" href="../log">Oldest First</a>
			{% elif 'log' in request.url_rule.rule %}
				<a class="common_nav" href="log/old">Newest First</a>
			{% endif %}
						<div class="nav_dropdown">
				<button class="dropbtn">Services</button>
				<div class="drop-content">
					<a href="?p={{ data["page"] }}&epp={{ data["epp"] }}&ssrc=all&pi=s">Simplified '/info'</a>
					<a href="?p={{ data["page"] }}&epp={{ data["epp"] }}&ssrc=all&pi=v">Full '/info'</a>
					<a href="?p={{ data["page"] }}&epp={{ data["epp"] }}&ssrc=all&sime=ring">Run 'Ring'</a>
					<a href="?p={{ data["page"] }}&epp={{ data["epp"] }}&ssrc=all&sime=bully">Run 'Bully'</a>
				</div>
			</div>
			<a class="common_nav" id="auto_update_btn" onclick="toggle_auto()">Manual Update</a>
			<p class="right_nav">Server Time: {{ data["last_update"] }}</p>
			<a class="right_nav" id="update_btn" href="?p={{ data["page"] }}&epp={{ data["epp"] }}">Update</a>
		</div>
		<div id="log_info_table">
			<table class="table_data" style="border-collapse: collapse; text-align: right; width: 100%; text-align: right;" border="1">
				<tbody>
					{% for entry in data["entries"] %}
						<tr>
							<th class="entry_id" style="width: 100%; text-align: center;" colspan="2" scope="colgroup">Entry ID {{ entry["id"] }}</th>
						</tr>
						<tr>
							<th class="{{ entry["flavor"]["severity"] }}" style="width: 10%; text-align: right;" scope="row">Severity</th>
							<td class="{{ entry["flavor"]["severity"] }}" style="width: 100%; text-align: left;">{{ entry["severity"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;" scope="row">From</th>
							<td class="{{ entry["flavor"]["user_shade"] }}" style="width: 100%; text-align: left;">{{ entry["from"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;" scope="row">Comment</th>
							<td style="width: 100%; text-align: left;">{{ entry["comment"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;" scope="row">Timestamp</th>
							<td style="width: 100%; text-align: left;">{{ entry["timestamp"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: center;" scope="row">JSON</th>
							<td style="width: 100%; text-align: left;">
								<pre id="json" style="white-space: pre-line; new-line: keep-all;">
									<code>{{ entry["body"] }}</code>
								</pre>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
	<script>
			window.onscroll = function() {scrollFunction()};

			var navbar = document.getElementById("navbar");
			var sticky = navbar.offsetTop;

			var auto_update = false;

			function loaded() {
				if(window.localStorage.getItem("auto_update") != null) {
					auto_update = (window.localStorage.getItem("auto_update") == "t" ? true : false);
				}
				if (auto_update) {
					document.getElementById("auto_update_btn").className = "update_auto";
					document.getElementById("auto_update_btn").innerHTML = "Auto Update";
				}
				setTimeout(fetcher, 3000);
			}

			function toggle_auto() {
				auto_update = !auto_update;
				if (auto_update) {
					document.getElementById("auto_update_btn").className = "update_auto";
					document.getElementById("auto_update_btn").innerHTML = "Auto Update";
				}
				else {
					document.getElementById("auto_update_btn").className = "common_nav";
					document.getElementById("auto_update_btn").innerHTML = "Manual Update";
				}
				window.localStorage.setItem("auto_update", (auto_update ? "t" : "f"));
			}

			function refresh() {
				window.location.reload(true);
				document.location.href ="?p=" + {{ data["page"] }} + "&epp=" + {{ data["epp"] }};
			}

			function fetcher() {
				fetch('/server/status').then(
					function (response) {
						return response.json();
					}).then(function (json) {
						if(json["entry_count"] != {{ data["count"] }}) {
							if (auto_update) {
								refresh();
							}
							else {
								document.getElementById("update_btn").className = "update_me";
								document.title = '* New Entry';
							}
						}
					setTimeout(fetcher, 3000);
				});
			}

			function scrollFunction()
			{
			  if (window.pageYOffset > sticky)
			  {
				navbar.classList.add("sticky");
			  }
			  else
			  {
				navbar.classList.remove("sticky");
			  }
			}
		</script>
	<footer>

	</footer>
</html>