<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="../static/table_style.css">
	</head>
	<header>
	</header>
	<body>
		<div id="navbar">
			<p class="active">Total Entries: {{ data["count"] }}</p>
			{% if data["page"] > 1%}
				<a class="common_nav" href="?p={{data["page"]-1}}&epp={{data["epp"]}}"><</a>
			{% else %}
				<p class="disabled_nav"><</p>
			{% endif %}
			<p class="common_nav">Page {{ data["page"] }} / {{ data["page_max"] }}</p>
			{% if data["page"] < data["page_max"] %}
				<a class="common_nav" href="?p={{data["page"]+1}}&epp={{data["epp"]}}">></a>
			{% else %}
				<p class="disabled_nav">></p>
			{% endif %}
			<div class="nav_dropdown">
				<button class="dropbtn">{{ data["epp"] }} Entries per Page
				</button>
				<div class="drop-content">
					<a href="?p=1&epp=10">10 Entries</a>
					<a href="?p=1&epp=20">20 Entries</a>
					<a href="?p=1&epp=50">50 Entries</a>
				</div>
			</div>
			<p class="update_time">Updated: {{ data["last_update"] }}</p>
			<a class="update_time" href="?">Refresh</a>
		</div>
		<div id="log_info_table">
			<table class="table_data" style="border-collapse: collapse; text-align: right; width: 100%; text-align: right;" border="1">
				<tbody>
					{% for entry in data["entries"] %}
						<tr>
							<th class="entry_id" style="width: 100%; text-align: center;" colspan="2" scope="colgroup">Entry ID {{ entry["id"] }}</th>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;" scope="row">From</th>
							<td style="width: 100%; text-align: left;">{{ entry["from"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;" scope="row">Severity</th>
							<td style="width: 100%; text-align: left;">{{ entry["severity"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;" scope="row">Comment</th>
							<td style="width: 100%; text-align: left;">{{ entry["comment"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: right;" scope="row">Timestamp</th>
							<td style="width: 100%; text-align: left;">{{ entry["timestamp"] }}</td>
						</tr>
						<tr>
							<th style="width: 10%; text-align: center;" scope="row">JSON</th>
							<td style="width: 100%; text-align: left;">
								<pre id="json" style="white-space: pre-line; new-line: keep-all;">
									<code>{{ entry["body"] }}</code>
								</pre>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<script>
			window.onscroll = function() {scrollFunction()};

			var navbar = document.getElementById("navbar");
			var dropcont = document.getElementById("drop-content");
			var sticky = navbar.offsetTop;

			function scrollFunction() 
			{
			  if (window.pageYOffset > sticky) 
			  {
				navbar.classList.add("sticky");
				dropcont.classList.add("sticky");
			  } 
			  else 
			  {
				navbar.classList.remove("sticky");
				dropcont.classList.add("sticky");
			  }
			}
		</script>
	</body>
	<footer>

	</footer>
</html>